<section>
  <div data-block="messages" bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

  <h4>
    <span data-block="header"></span>
  </h4>

  <div>
    <span data-block="filters"></span>
  </div>

  <div class="row nutupane-details-bar">
    <div class="col-sm-4">
      <div data-block="search">
        <div class="input-group input-group">

          <span data-block="search-filter"></span>

          <input type="text"
                 class="form-control"
                 placeholder="{{ 'Search...' | translate }}"
                 ng-model="detailsTable.searchTerm"
                 bst-on-enter="detailsTable.search(detailsTable.searchTerm)"
                 ng-trim="false"
                 typeahead="item.label for item in detailsTable.autocomplete($viewValue)"
                 typeahead-empty
                 typeahead-template-url="components/views/autocomplete-scoped-search.html"/>

          <span class="input-group-btn">
            <button ng-click="detailsTable.search(detailsTable.searchTerm)" class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <span class="nutupane-info" data-block="result-count" translate>Showing {{ detailsTable.rows.length }} of {{ detailsTable.resource.subtotal }} ({{ detailsTable.resource.total }} Total)</span>
    </div>

    <div class="col-sm-4 fr">
      <div class="fr">
        <span class="nutupane-info fl" data-block="selection-summary">
          <span translate>{{ detailsTable.numSelected }} Selected</span>
        </span>

        <span class="fl">
          <span data-block="actions"></span>
        </span>
      </div>
    </div>
  </div>

  <div class="working-indicator text-center" ng-show="detailsTable.working">
    <i class="fa fa-spinner icon-spin"></i>
    <span translate>Working...</span>
  </div>

  <div class="nutupane" bst-table="detailsTable" nutupane-table>

    <div bst-container-scroll bst-infinite-scroll="detailsTable.nextPage()"
         data="detailsTable.rows" skip-initial-load="!detailsTable.initialLoad">

      <div class="nutupane-select-all" ng-show="detailsTable.selectAllResultsEnabled && detailsTable.allSelected() && !detailsTable.allResultsSelected">
        <span translate>All {{ detailsTable.rows.length }} items on this page are selected.</span>
        <a ng-click="detailsTable.selectAllResults(true)" translate>Select all {{ detailsTable.resource.subtotal }}.</a>
      </div>

      <div class="nutupane-select-all-selected" ng-show="detailsTable.selectAllResultsEnabled && detailsTable.allResultsSelected">
        <span translate>{{ detailsTable.allResultsSelectCount() }} results are selected.</span>
        <a ng-click="detailsTable.selectAllResults(false)" translate>Deselect all</a>
      </div>

      <div data-block="table"></div>
    </div>
  </div>

</section>
