<section>

  <div data-block="messages" bst-alerts error-messages="errorMessages" success-messages="successMessages"></div>

  <div class="row nutupane-bar">
    <h2 class="col-sm-2">
      <span data-block="header">
        REPLACE ME
      </span>
    </h2>
  </div>

  <div class="row nutupane-bar">

    <div class="row">
      <div class="col-sm-12">
        <div data-block="search-filter"></div>
      </div>
    </div>


    <div class="col-sm-3 nutupane-info">
      <div class="input-group input-group">
        <input type="text"
               class="form-control"
               placeholder="{{ 'Search...' | translate }}"
               bst-on-enter="table.search(table.searchTerm)"
               ng-model="table.searchTerm"
               ng-trim="false"
               typeahead="item.label for item in table.autocomplete($viewValue)"
               typeahead-empty
               typeahead-template-url="components/views/autocomplete-scoped-search.html"/>
        <span class="input-group-btn">
          <button ng-click="table.search(table.searchTerm)" class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </div>

    <div class="col-sm-3 nutupane-info">
      <span translate>Showing {{ table.rows.length }} of {{ table.resource.subtotal }} ({{ table.resource.total }} Total)</span>
    </div>

    <div class="fr">
      <div class="nutupane-info fl" ng-if="table.rowSelect">
        <span translate>{{ table.numSelected }} Selected</span>
      </div>

      <div class="fl">
        <div data-block="actions"></div>
      </div>
    </div>
  </div>

  <div class="row nutupane" bst-table="table" nutupane-table ng-class="{'table-reduced': $root.$state.current.collapsed}">
    <div class="loading-mask" ng-show="table.working" ng-class="{ 'loading-mask-collapsed': $root.$state.current.collapsed }">
      <i class="fa fa-spinner fa-spin"></i>
      <span ng-hide="$root.$state.current.collapsed">{{ "Loading..." | translate }}</span>
    </div>

    <div bst-container-scroll bst-infinite-scroll="table.nextPage()" data="table.rows">
      <div ui-view="table"></div>
    </div>
  </div>

  <span class="action-panel" ui-view="action-panel"></span>

</section>
