<% content_for(:content) do %>
  <div class="article maincontent bastion" data-no-turbolink="true">
    <section class="container-fluid">
        <div class="row" ui-view></div>
    </section>
  </div>
<% end %>

<%= render file: "bastion/layouts/assets" %>
