.nav.nav-tabs.details-nav {
  margin-bottom: 10px;
}

.dl-horizontal.dl-horizontal-left {
  dt {
    overflow: visible;
    text-align: left;
    text-overflow: clip;
    white-space: inherit;
    width: 150px;
  }

  dt:after {
    content: ':';
  }

  dd {
    margin-left: 200px;
    word-wrap: break-word;
  }
}
